.homepage_content_alignment {
  padding-left: 100px;
}

.homepage_main_title {
  font-weight: bold;
  font-size: 2rem;
}

.homepage_name_text {
  font-weight: 500;
  font-size: 1.5rem;
}

.homepage_typewriter_text {
  font-weight: 200;
  font-size: 1rem;
}

.homepage_svg {
  height: 40vh;
  width: 30vw;
}
@media screen and (max-width: 992px) and (min-width: 770px) {
  .homepage_svg {
    width: 33vw;
  }
}

/* Tablet View */
@media screen and (max-width: 769px) and (min-width: 697px) {
  .homepage_svg {
    width: 33vw;
  }
}

@media screen and (max-width: 697px) and (min-width: 426px) {
  .homepage_svg {
    width: 37vw;
  }
}
@media screen and (max-width: 495px) and (min-width: 426px) {
  .homepage_content_alignment {
    padding-left: 30px;
  }
}

/* Mobile View */
@media screen and (max-width: 426px) {
  .homepage_content_alignment {
    padding-left: 0px;
  }

  .homepage_main_title {
    font-size: 1.5rem;
  }

  .homepage_name_text {
    font-size: 1.25rem;
  }

  .homepage_typewriter_text {
    font-size: 1rem;
  }

  .homepage_svg {
    width: 50vw;
  }
}

@media screen and (max-width: 376px) {
  .homepage_content_alignment {
    padding-left: 20px;
  }
}

@media screen and (max-width: 321px) {
  .homepage_content_alignment {
    padding-left: 10px;
  }
}
