.page_content_alignment {
  padding-left: 90px;
  padding-right: 30px;
}

.about_me_page_title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.about_me_page_text {
  font-weight: 300;
  font-size: 1.1rem;
}

/* Tablet View */
@media screen and (max-width: 991px) and (min-width: 768px) {
  .page_content_alignment {
    padding-left: 10px;
    padding-right: 0px;
  }
  .about_me_page_title {
    font-size: 1.35rem;
  }
  .about_me_page_text {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .page_content_alignment {
    padding-left: 40px;
  }
  .about_me_page_title {
    font-size: 1.25rem;
  }
  .about_me_page_text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 576) {
  .page_content_alignment {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 495px) and (min-width: 426px) {
  .page_content_alignment {
    padding-left: 30px;
  }
}

/* Mobile View */
@media screen and (max-width: 426px) {
  .page_content_alignment {
    padding-left: 0px;
  }

  .about_me_page_title {
    font-size: 1.15rem;
  }

  .about_me_page_text {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 321px) {
  .page_content_alignment {
    padding-left: 10px;
  }
}
