.btn:hover {
  background-color: #212121;
  border-color: #212121;
}

.page_content_alignment {
  padding-left: 0px;
}

.project_page_title {
  margin-top: 70px;
  font-weight: bold;
  font-size: 2.25rem;
  text-align: center;
}

.personal_statement {
  font-weight: 300;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  padding-bottom: 20px;
}

.card-title {
  font-size: 1.35rem;
}

.card-text {
  font-size: 1rem;
}

.project_card {
  background: #2c2c2c;
  transition: 0.2s;
  filter: grayscale(100%);
}
.project_card:hover {
  background: #3c3c3c;
  filter: grayscale(0%);
}

.project_card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 80px 8px rgb(0, 0, 0);
}

.btn {
  border-color: #2977d1;
  color: #2977d1;
  height: 30px;
  margin-top: 4px;
  margin-right: 4px;
  align-items: center;
}

.btn:hover {
  border-color: #2977d1;
  background-color: #2977d1;
  color: #fff;
}
.card-img {
  padding: 16px;
}

.external_link_button {
  background-color: #212121;
  align-items: center;
  color: #fff;
  border-color: #fff;
}

/* Laptop and desktop View*/
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .card-title {
    font-size: 1.05rem;
  }
  .card-text {
    font-size: 0.8rem;
  }
  .btn {
    height: 26px;
    font-size: 0.7rem;
  }
}

/* Tablet View */
@media screen and (max-width: 992px) and (min-width: 768px) {
  .page_content_alignment {
    padding-left: 10px;
  }
  .project_page_title {
    font-size: 1.35rem;
  }
  .main_content_container {
    min-width: 760px;
  }
  .card-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .page_content_alignment {
    padding-left: 10px;
  }
  .project_page_title {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 576) {
  .page_content_alignment {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 495px) and (min-width: 426px) {
  .page_content_alignment {
    padding-left: 30px;
  }
}

/* Mobile View */
@media screen and (max-width: 426px) {
  .page_content_alignment {
    padding-left: 0px;
  }

  .project_page_title {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 576px) {
  .page_content_alignment {
    padding-right: 40px;
  }
}

@media screen and (max-width: 321px) {
  .page_content_alignment {
    padding-left: 10px;
  }
}
